<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>
</head>
<body>

<h3>Thymeleaf Loop</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<h3>Thymeleaf Scope</h3>
Request: <span th:text="${#httpServletRequest.getAttribute('request')}"></span><br/>
Session: <span th:text="${session.session}"></span><br/>
Application: <span th:text="${application.application}"></span><br/>

<h3>Thymeleaf URLs</h3>
<!-- redirect to demo page without parameter -->
<a th:href="@{~/demoList}">Visit Demo Page</a> <br />
<!-- redirect to demo page with parameter -->
<a th:href="@{https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html}">Visit Thymmeleaf</a>
</body>
</html>